/* CategoriesCard.css */

/* Estilos generales para el contenedor de las tarjetas de categorías */
.categories-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; /* Aumentamos el espacio entre las tarjetas */
    margin: 40px 0;
  }
  
  /* Estilos para cada tarjeta de categoría */
  .category-card {
    width: 350px; /* Aumentamos el ancho de las tarjetas */
    padding: 30px; /* Aumentamos el padding interno */
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  /* Efecto de hover para las tarjetas de categoría */
  .category-card:hover {
    transform: translateY(-5px);
  }
  
  /* Estilos para el ícono de la categoría */
  .icon {
    font-size: 60px; /* Aumentamos el tamaño del ícono */
    color: #333;
    margin-bottom: 20px; /* Aumentamos el margen inferior */
  }
  
  /* Estilos para el nombre de la categoría */
  h3 {
    font-size: 24px; /* Aumentamos el tamaño del texto */
    margin-bottom: 20px; /* Aumentamos el margen inferior */
  }
  
  /* Estilos para la descripción de la categoría */
  .description {
    margin-top: 30px; /* Aumentamos el margen superior */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  /* Estilos para mostrar la descripción cuando se selecciona una categoría */
  .category-card.selected .description {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Estilos para el botón "Ver Productos" */
  .description button {
    display: block;
    margin-top: 20px; /* Aumentamos el margen superior */
    padding: 10px 20px; /* Aumentamos el padding del botón */
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px; /* Aumentamos el tamaño del texto */
  }
  
  .description button:hover {
    background-color: #555;
  }